<h1>Yifan Zhu(朱逸帆)</h1>

<h4>3rd year undergraduate student</h4>

<h4><a href="http://iao.nuaa.edu.cn/">Nanjing University of Aeronautics and Astronautics</a></h4>

<h4><a href="http://cs.nuaa.edu.cn/">College of Computer Science and Technology</a></h4>

<ul><li>bio</li></ul>

<h4>Email:yifanzhu@nuaa.edu.cn</h4>

<hr/>

<h2>EDUCATION</h2>

<hr/>

<h4>Nanjing University of Aeronautics and Astronautics                                                     (Sep 2017-Present)</h4>

<ul><li>GPA:4.0/5.0(Ranking:4/113)</li><li>Honors and awards:<ul><li>National scholarship                                                                                              (2018)</li><li>Annual one hundred top students of the University                                                                 (2019)</li><li>Major award                                                                                               （2018 &amp; 2019）</li><li>Merit Student                                                                                             （2018 &amp; 2019）</li><li>Excellent Student Cadre                                                                                   （2018 &amp; 2019）</li><li>Excellent Leader in social practice                                                                               (2018)</li><li>Second prize of College&#39;s speech contest                                                                          (2017)</li></ul></li></ul>

<h4>University of Edinburgh, school of informatics                                                                             (Sep 2019 - Dec 2019)</h4>

<ul><li>courses taken:<ol><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10069.htm">Introductory Applied Machine Learning</a></li><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10070.htm">Database Systems</a></li><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10064.htm">Software Design and Modelling</a></li></ol></li></ul>

<hr/>

<h2>RESEARCH EXPERIENCE</h2>

<hr/>

<pre><code>####</code></pre>

<hr/>

<h2>LEADERSHIP EXPERIENCE</h2>

<hr/>

<h2>PUBLICATION</h2>

<hr/>
