<div align="center">
    <!DOCTYPE html>
    <html>
    <body>
    <table border="0" width = "1123">
        <tr>
            <td width="75%">
                <p>
                <div align="left" id="content" style="height:200px;width:800px;">

                    <hr/>
                    Hello, thank you for being here! I'm Yifan Zhu and for now I'm in the third year of studying in <a href="http://iao.nuaa.edu.cn/">Nanjing University of Aeronautics and Astronautics(NUAA)</a>,<a href="http://cs.nuaa.edu.cn/">College of Computer Science and Technology</a>.Since I was admitted in NUAA in 2017, I have been sparing no efforts to seek for personal all-round development, in order to have a happier and fulfilled life. After two years' experiences of SRTP and studying in University of Edinburgh, School of Informatics in the first semester of 2019~2020 as a visiting student,I'm more than interested in machine learning and computer networking,distributed machine learning and edge computing in particular. Therefore, recently I'm trying to learn more about them and getting prepared for the next project. BTW, I'm also fond of reading, photographing and playing badminton:)
                    <hr/>
                </div>
                </p>
            </td>
            <td width="25%" align="center">
                <img src="/images/edis.jpg" alt="Smile_northberwick.png" width="233.55" height="216.45">

            </td>
        </tr>
    </table>


    <table border="0">
        <div style = "width:600px;">
        <tr>
            <td width="50%">
                <p>
                <div  style="height:50px;">
                    <h2><u>EDUCATION</u></h2>
                </div>
                </p>
            </td>
            <td width="50%">
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <h4>Nanjing University of Aeronautics and Astronautics </h4>

                </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                Sep 2017-Present
                </div>
            </td>
        </tr>


            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul><li>GPA:

                        </li></ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                </td>
            </tr>

            <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <ul><ul><li>overall gpa: 90/100

                    </li></ul></ul>

                </div>
                </p>
            </td>
            <td width="50%">
            </td>
        </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul><ul><li>ranking:4/113

                        </li></ul></ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul><li>Courses taken(selected):

                        </li></ul>

                    </div>
                    </p>
                </td>

                <td width="50%">
                    <div  align="right">
                    Grade
                    </div>
                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Programming(C++)</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        94
                    </div>

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Discrete Mathematics</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        87
                    </div>

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Engineering Mathematical Analysis</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        87
                    </div>

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Data Structure</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        91
                    </div>

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Digital Circuits and Logical Design</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        93
                    </div>

                </td>
            </tr>



            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Computer Graphics</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        95
                    </div>

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Computer Architecture</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        97
                    </div>

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li>Mobile Object-Aware Data Management and Analysis</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        A
                    </div>

                </td>
            </tr>





        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                <ul><li>Honors and awards:

                </li></ul>

                </div>
                </p>
            </td>
            <td width="50%">
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <ul>
                        <ul><li>National scholarship</li>

                        </ul>
                    </ul>

                </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                    2018-Ministry of Education of China
                </div>

            </td>
        </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:8px;">

                        <ul>
                            <ul><li> Annual one hundred top students</li>

                            </ul>
                        </ul>

                    </div>
                    </p>
                </td>
                <td width="50%">
                    <div align="right">
                        2018-NUAA
                    </div>

                </td>
            </tr>


        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <ul>
                        <ul><li>Major award </li>

                        </ul>
                    </ul>

                </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                    2018 &amp; 2019-NUAA
                </div>

            </td>
        </tr>


        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <ul>
                        <ul><li>Merit Student </li>

                        </ul>
                    </ul>

                </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                    2018 &amp; 2019-NUAA
                </div>

            </td>
        </tr>

        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <ul>
                        <ul><li>Excellent Student Cadre </li>

                        </ul>
                    </ul>

                </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                    2018 &amp; 2019-NUAA
                </div>
            </td>
        </tr>

        <tr>
            <td width="50%">
                <p>
                <div  style="height:8px;">

                    <ul>
                        <ul><li>Excellent Leader in social practice </li>

                        </ul>
                    </ul>

                </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                    2018-NUAA
                </div>

            </td>
        </tr>

        <tr>
            <td width="50%">
                <p>
                <div  style="height:20px;">

                    <ul>
                        <ul><li>Second prize of College&#39;s speech contest </li>

                        </ul>
                    </ul>

            </div>
                </p>
            </td>
            <td width="50%">
                <div align="right">
                    2017-College of Computer Science and Technology
                </div>

            </td>

        </tr>





        <tr>
            <td width="50%">
                <div  style="height:200px;">
            <h4>University of Edinburgh, school of informatics </h4>

            <ul><li>Courses taken:
                <ol><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10069.htm">Introductory Applied Machine Learning</a></li>
                    <li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10070.htm">Database Systems</a></li>
                    <li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10064.htm">Software Design and Modelling</a></li>
                </ol>
            </li></ul>
                </div>
            </td>

            <td width="50%">
                <div align="right">
                Sep 2019 - Dec 2019
                </div>
            </td>
        </tr>
        </div>
    </table>


    <table border="0" width = "1123">

        <tr>
            <td width="50%">
                <p>
                <div  style="height:30px;">

                    <h2><u>RESEARCH EXPERIENCE</u></h2>

                </div>
                </p>
            </td>
            <td width="10%">

            </td>
        </tr>


            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:10px;">

                        <h4>SRTP: Detection of Safe Driving Via Crowd Sensing </h4>


                    </div>
                    </p>
                </td>
                <td width="10%">
                    Jan 2018 - Sep 2018
                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:200px;">

                    <ul><li>Role:Research Assistant, College of Computer Science and Technology<br></li>
                        <li>Under the guidance of A.P. Bohan Li</li>
                        By adopting crowdsourcing and crowd-sensing, we monitor the extreme driving behavior during the process of driving, trying to reduce the probability of traffic accidents.
                        <ul><li>Awarded funding for research as key C project through the college's Science Foundation Project
                            <li>	Participated in collecting information and studying algorithms.
                            <li>	Co-published a paper "DSDCS:Detection of Safe Driving Via Crowd Sensing" in the proceedings of ADMA 2018.
                        </ul>
                    </ul>

                    </div>
                    </p>
                </td>
                <td width="10%">

                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:10px;">

                    <h4>SRTP: Analysis of Network Quality Data Based on Big Data and AI Technology </h4>

                    </div>
                    </p>
                </td>
                <td width="10%">
                    Jan 2019 - Sep 2019
                </td>
            </tr>

            <tr>
                <td width="50%">
                    <p>
                    <div  style="height:200px;">
                        <ul><li>Role:Group Leader, College of Computer Science and Technology</li>
                            <li>Under the guidance of <a href="https://sites.google.com/site/kunzhu2013/">Prof. Kun Zhu</a></li>
                    By studying intellectual perception incentive mechanism and adopting USRP, we are able to collect data of network quality and then use the matrix filling recovery algorithm to construct network quality real-time visualization map,so that we could predict network quality and analyze network fault based on AI.
                    <ul><li>
                        Awarded funding for research as key C project through the college's Science Foundation Project.
                        <li> Leading research in studying incentives.</li>
                    </ul>
                        </ul>
                </div>
                    </p>
                </td>
                <td width="10%">

                </td>
            </tr>


    </table>



    <table border="0" width = "1123">
        <tr>
            <td width="90%">
                <p>
                <div   style="height:400px;width:800px;">

                    <h2><u>LEADERSHIP EXPERIENCE</u></h2>
                    <h4> Research on Privacy Leaks and Preservation </h4>
                    <li>Role: Leader </li>
                    <ul><li>	Elected to take part in National Tianyi Internet Plus Education into rural areas social practice, and received funding of 5000 RMB due to the final report.
                        <li>	Led the team to enquire around 50 people in six cities to investigate how well the masses knew about privacy preservation and interviewed some relative leading officials, then made a brochure on telecom fraud and privacy preservation as well as an APP.
                        <li> 	Awarded to be the College's Excellent Team in summer social practice,and the report was elected to be the Excellent Research Report.
                    </li></ul>

                </div>
                </p>
            </td>
            <td width="10%">
                July 2018 -Aug 2018
            </td>
        </tr>
    </table>

    <table border="0" width = "1123">
        <tr>
            <td width="90%">
                <p>
                <div  style="height:100px;width:800px;">



                    <h2><u>PUBLICATION</u></h2>

                    Yun Du, Xin Guo, Chenyang Shi, <b>Yifan Zhu</b> and Bohan Li.
                    <a href="https://www.researchgate.net/publication/329980702_DSDCS_Detection_of_Safe_Driving_via_Crowd_Sensing_14th_International_Conference_ADMA_2018_Nanjing_China_November_16-18_2018_Proceedings">DSDCS: Detection of Safe Driving via Crowd Sensing</a>.
                    In proceedings of 14th International Conference, ADMA 2018, pp.170-177. Nanjing, China, November 16-18, 2018.


                </div>
                </p>
            </td>
            <td width="10%">

            </td>
        </tr>
    </table>


    </body>
    </html>
</div>


