<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>bio</title> 
 <style> 
div
{
width:800px;
height:200px;
background-color:#D1D1D1;
-moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
box-shadow: 10px 10px 5px #A1A1A1;
}
</head>
<body>
 
<div align="center" id="content" style="height:200px;width:800px;">
 
Hello, thank you for being here! I'm Yifan Zhu and for now I'm in the third year of studying in <a href="http://iao.nuaa.edu.cn/">Nanjing University of Aeronautics and Astronautics（NUAA）</a>,<a href="http://cs.nuaa.edu.cn/">College of Computer Science and Technology</a>.Since I was admitted in NUAA in 2017, I have been sparing no efforts to seek for personal all-round development, in order to have a happier and fulfilled life. After two years' experiences of SRTP and studying in Univeristy of Edinburgh, School of Informatics in the first semester of 2019~2020 as a visiting student,I'm more than interested in machine learning and computer networking，distributed machine learning and edge computing in particular. Therefore, recently I'm trying to learn more about them and getting prepared for the next project. BTW, I'm also fond of reading, photographing and playing badminton:)
 
</div>
 
</body>
</html>















































<div align="center">
  
<h1>Yifan Zhu(朱逸帆)</h1>

<h4>3rd year undergraduate student</h4>

<h4><a href="http://iao.nuaa.edu.cn/">Nanjing University of Aeronautics and Astronautics</a></h4>

<h4><a href="http://cs.nuaa.edu.cn/">College of Computer Science and Technology</a></h4>

<ul><li>bio</li></ul>

<h4>Email:yifanzhu@nuaa.edu.cn</h4>

<hr/>

<h2>EDUCATION</h2>

<hr/>

<h4>Nanjing University of Aeronautics and Astronautics                                                     (Sep 2017-Present)</h4>

<ul><li>GPA:4.0/5.0(Ranking:4/113)</li><li>Honors and awards:<ul><li>National scholarship                                                                                              (2018)</li><li>Annual one hundred top students of the University                                                                 (2019)</li><li>Major award                                                                                               （2018 &amp; 2019）</li><li>Merit Student                                                                                             （2018 &amp; 2019）</li><li>Excellent Student Cadre                                                                                   （2018 &amp; 2019）</li><li>Excellent Leader in social practice                                                                               (2018)</li><li>Second prize of College&#39;s speech contest                                                                          (2017)</li></ul></li></ul>

<h4>University of Edinburgh, school of informatics                                                                             (Sep 2019 - Dec 2019)</h4>

<ul><li>courses taken:<ol><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10069.htm">Introductory Applied Machine Learning</a></li><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10070.htm">Database Systems</a></li><li><a href="http://www.drps.ed.ac.uk/19-20/dpt/cxinfr10064.htm">Software Design and Modelling</a></li></ol></li></ul>

<hr/>

<h2>RESEARCH EXPERIENCE</h2>

<hr/>

<pre><code>####</code></pre>

<hr/>

<h2>LEADERSHIP EXPERIENCE</h2>

<hr/>

<h2>PUBLICATION</h2>

<hr/>
  
</div>
